
/*Estilizando a nav da classe menu */
 
  .menu2 {
 width: 200px;
 height: 100%;
 background-color: #222;
 font-family: Arial;
 
 }
 

/*Estilizando as listas */
 .menu2 ul {
 list-style: none;
 position: relative;
 }

.menu2 ul li {
 width: 200px;
 float: left;
 }

.menu2 a {
 padding: 25px;
 display: block;
 text-decoration: none;
 text-align: center;
 background-color: #222;
 color: #00FA9A;
 
 }

.menu2 ul ul {
 position: absolute;
 visibility: hidden;
 z-index:2;
 
 }

.menu2 ul li:hover ul {
 visibility: visible;
 }

.menu2 a:hover {
 background-color: #f4f4f4;
 color: #555;
 }

.menu2 ul ul li {
 float: none;
 border-bottom: solid 1px #ccc;
 position:relative;
  left:-20%;
 }

.menu2 ul ul li a {
 background-color: #069;
 }

/*Criando o label */
 label[for="bt_menu2"]{
 padding: 5px;
 background-color: #222;
 color: #fff;
 font-family: Arial;
 text-align: center;
 font-size: 30px;
 cursor: pointer;
 height: 50px;
 }

#bt_menu2 {
 display: none;
 }

label[for="bt_menu2"]{
 display: none;
 }
 

/*Deixando o Menu Responsivo */
@media(max-width: 800px) {
label[for="bt_menu2"] {
 display: block;
 }
  
#bt_menu2:checked ~ .menu2{
 margin-left: 0;
 }
  
.menu2{
 margin-top: 5px;
 margin-left: -100%;
 transition: all .4s;
 }
  
.menu2 ul li {
 width: 100%;
 float: none;
 }
  
.menu2 ul ul {
 position: relative;
 overflow: hidden;
 max-height: 0;
 transition: all 4s;
 z-index:3;
 }
  
.menu2 ul li:hover ul {
 height: auto;
 max-height: 2000px;
 }

  
 }